{% extends 'layout.html.twig' %}

{% block navigation %}
    <a href="{{ createImageUrl }}" class="button">Create New Image</a>
{% endblock navigation %}

{% block content %}
    <div class="image-box">
        {% if images|default %}
            {% for image in images %}
                <a href="{{ image.imageUrl }}" class="image">
                    <canvas class="list-painting" width="400" height="300" data-image="{{ image.imageScheme }}"></canvas>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
