{% extends 'layout.html.twig' %}

{% block navigation %}
    <a href="{{ createImageUrl }}" class="button">Create New Image</a>
{% endblock navigation %}

{% block content %}
    <div class="image-box">
        {% if imageUrls|default %}
            {% for imageUrl in imageUrls %}
                <a href="{{ imageUrl }}" class="image">
                    <canvas id="painting" width="400" height="300"></canvas>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
