{% extends 'layout.html.twig' %}

{% block navigation %}
    <a href="{{ imagesListUrl }}" class="button">Back to Images List</a>
{% endblock navigation %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">var imageSchemeData = '{{ scheme|raw }}';</script>
    <script type="text/javascript" src="/js/painting.js"></script>
{% endblock scripts %}

{% block content %}
    <table>
        <tr>
            <td>
                <canvas id="painting" width="400" height="300"></canvas>
            </td>
            <td class="painting-navigation">
                <div id="painting-result">
                    <div class="id"></div>
                    <div class="password"></div>
                </div>
                <span id="painting-save" class="button">Save</span>
                <span id="painting-reset" class="button">Reset</span>
            </td>
        </tr>
    </table>
{% endblock content %}
