<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lenvendo Paint</title>
    <link href="/styles.css" type="text/css" rel="stylesheet">
    {#<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">#}
</head>
<body>

<header>Lenvendo Paint</header>

<div class="line"></div>

<nav>{% block navigation %}{% endblock navigation %}</nav>

<div class="line"></div>

<div class="content">{% block content %}{% endblock content %}</div>

{% block scripts %}
    <script type="text/javascript" src="/js/fabric.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
{% endblock scripts %}
</body>
</html>
