{% extends 'layout.html.twig' %}

{% block content %}
    <div class="site-error">
        <strong>{{ name }} ({{ code }})</strong>
        <p>Error occured: {{ message }}</p>
    </div>
{% endblock content %}
