body {
    font-size: 20px;
    font-family: 'Roboto Condensed', serif;
    color: #2a353b;
    margin: 0;
}

header {
    text-align: center;
    margin: 35px;
    font-size: 50px;
}

nav {
    text-align: center;
}

table {
    width: 100%;
}

table td:first-child {
    text-align: center;
}

table td:last-child {
    text-align: left;
}

.line {
    background-color: rgb(12, 54, 14);
    width: 100%;
    height: 3px;
}

.image-box {
    text-align: center;
}

.image {
    display: inline-block;
    height: 302px;
    width: 402px;
    margin: 10px;
    text-decoration: none;
}

.image:hover {
    background-color: rgba(12, 54, 14, 0.6);
}

a:hover,
.button:hover {
    opacity: 0.9;
}

.button {
    display: inline-block;
    background-color: rgb(12, 54, 14);
    margin: 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 26px;
    padding: 20px 50px;
    cursor: pointer;
}

.site-error,
.content {
    padding: 10px;
}

canvas#painting,
canvas.list-painting{
    border: solid black 1px;
}

.painting-navigation a {
    display: inline-block;
    background-color: rgb(12, 54, 14);
    margin: 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 26px;
    padding: 20px;
}

#painting-result {
    margin: 30px;
}

#painting-result .password {
    font-weight: 800;
}
